* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #FFF; /* Amarelo Pastel */
}

.app {
    background: #FF4242; /* Vermelho Pastel */
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.app h1 {
    font-size: 25px;
    color: #FFFA57; /* Vermelho Escuro */
    font-weight: 600;
    border-bottom: 1px solid #aa151b; /* Vermelho Escuro */
    padding-bottom: 30px;
}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 18px;
    color: #FFFA57; /* Vermelho Escuro */
    font-weight: 600;
}

.btn {
    background: #FFF; /* Amarelo Pastel */
    color: #000; /* Vermelho Escuro */
    font-weight: 500;
    width: 100%;
    border: 1px solid #6F0000; /* Vermelho Escuro */
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover:not([disabled]) {
    background-color: #7C7373; /* Vermelho Pastel */
    color: #f9f7e8; /* Amarelo Pastel */
}

.btn:disabled{
    cursor: no-drop; 
}

#next-btn {
    background: #aa151b; /* Vermelho Escuro */
    color: #f9f7e8; /* Amarelo Pastel */
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.correto {
  background-color: #9bd18b; /* Verde Pastel */
}

.incorreto {
  background-color: #f2856d; /* Vermelho Claro */
}

.btn-voltar {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff8080; /* Cor do fundo */
    color: white; /* Cor do texto */
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px; /* Margem superior */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-voltar:hover {
    background-color: #ff6666; /* Cor do fundo ao passar o mouse */
}
